* {
  font-size: 16px;
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.BeerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.BeerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px 0px;
  margin: 10px;
  padding: 20px;
  border-radius: 2px;
}

.BeerImage {
  height: 100px;
  margin-bottom: 10px;
}

.BeerName {
  font-weight: bold;
}

.BeerIbu {
  font-size: 12px;
  color: gray;
}

.BeerHopName {
  font-size: 12px;
  color: skyblue;
}

.MissingData {
  font-size: 10px;
  color: red;
}
